<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jfManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>
      org.jfree.chart.servlet.DisplayChart   
  </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.jf.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.jf.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.jf.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerServlet</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.jf.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.jf.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerServlet_stu</display-name>
    <servlet-name>ManagerServlet_stu</servlet-name>
    <servlet-class>com.jf.ManagerServlet_stu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet_stu</servlet-name>
    <url-pattern>/ManagerServlet_stu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerServlet_sadmin</display-name>
    <servlet-name>ManagerServlet_sadmin</servlet-name>
    <servlet-class>com.jf.sadmin.ManagerServlet_sadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet_sadmin</servlet-name>
    <url-pattern>/ManagerServlet_sadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.jf.sadmin.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutputServlet</display-name>
    <servlet-name>OutputServlet</servlet-name>
    <servlet-class>com.jf.sadmin.OutputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutputServlet</servlet-name>
    <url-pattern>/OutputServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LimitServlet</display-name>
    <servlet-name>LimitServlet</servlet-name>
    <servlet-class>com.jf.sadmin.LimitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LimitServlet</servlet-name>
    <url-pattern>/LimitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerServlet_jadmin</display-name>
    <servlet-name>ManagerServlet_jadmin</servlet-name>
    <servlet-class>com.jf.jadmin.ManagerServlet_jadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet_jadmin</servlet-name>
    <url-pattern>/ManagerServlet_jadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet_com</display-name>
    <servlet-name>UploadServlet_com</servlet-name>
    <servlet-class>com.jf.jadmin.UploadServlet_com</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet_com</servlet-name>
    <url-pattern>/UploadServlet_com</url-pattern>
  </servlet-mapping>
</web-app>